 :root {
        --navy-blue: #2E2F42;
        --slate-text:#434455;
        --base-wait-color: #ffffff;
        --iris: #4D5AE5;
        --cornflower:#E7E9FC;
        --cloud:#f4f4fd;
        --ocean:#404BBF;
        --card-set-gap: 20px;
        --border-color: #e7e9fc;
        --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.list {
    list-style:none;
}

.link {
    text-decoration: none;  
    /* margin:10px; */

}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}
img {
    display: block;
}

 /* ---------------------------------- PAGE - HEADER ------------ */
 .page-header {
    border-bottom: 1px solid #e7e9fc;
 }
 /* .page-header > .container {
      
    display: flex;
    align-items: center;
    padding-left: 64px;
    width: 1440px; 
    outline: #cc1818 solid 2px; 
 } */

 .page-header > .container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: #404BBF solid 2px;
 }

   .page-nav {
    display: flex;
    align-items: center; 
 }   
  
 .logo {
     margin-right: 76px;
     display: flex;
     align-items: center;
     font-family: Raleway, sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     /* identical to box height, or 117% */
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--iris);
     text-decoration: none;
 }

 .logo>.span-logo-header {
     color: var(--navy-blue);
 }

.page-nav > .menu {
display: flex;
gap: 40px;
}
  .page-nav > .menu > .list,
  .address > .list {
        display: flex;
        gap: 40px;
        align-items: center; 
        list-style: none;
        padding-top: 24px;
        padding-bottom: 24px;
        outline: #ce1029 solid 2px;
 } 

 .menu-link, .contact-link {
    
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
 } 

.menu-link:hover,
.menu-link:focus {
    color: var(--ocean);
} 

 /* .menu-item {
    
        display: flex;
        align-items: center;
        margin-left: 5px;
        list-style: none;
        display: flex;
        list-style: none;
         padding: 10px;
}  */

 /* .list {
    gap: 24px;
    align-items: center;
    margin-left: 50px;
    list-style: none;
    display: flex;
    padding: 10px;
    }  
  */

 body {
    font-family: Roboto, sans-serif;
    color:var(--slate-text);
    background-color:var(--base-wait-color);
 }

.address .menu {
    display: flex;
    gap: 40px;
    align-items: center;
    /* padding-left: 226px; */
    display: flex;
    font-style: normal;
} 


.contact-link {
    gap: 40px;
    padding-left: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}

.contact-link:hover,
.contact-link:focus {
    color:var(--ocean);
}

/* /////////////////  INDEX - HTML   //////////////////////// */

.hero-image {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color:var(--navy-blue);
    width: 1440px;

}


.hero-image .container {
    margin-left: auto;
    margin-right: auto;
}
.hero-imag-name {
    max-width: 496px;
    margin-top: 24px;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--base-wait-color);

}

.btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    outline: #E7E9FC solid 5px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 188px;
    margin-left: 580px; 
    /* margin: 48px 356px  188px 635px; */
    color: var(--base-wait-color);
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean); 
}
/*  ////////////// --- -- INDEX -- SECTION 2 ---//////////////////  */


.section-two-no-name {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 156px;
    width: 1128;
}

.list-sekond-section {
    display: flex;
    gap: 24px;
}
.list-sekond-section > .elem:first {
    width: calc((100% - 72px) / 4);
}

.elem .name-sektion-elem {
    margin-bottom: 8px;
}

/*  ////////////// --- -- INDEX -- SECTION 3 ---//////////////////  */
.section-three {
    padding-bottom: 120px;
    margin-left: 156px;
    align-items: center;
    width: 1128;
}

.section-tree {
    /* align-items: center; */
    width: 1440px;
    background-color: var(--cloud);
}
.name-sektion-two,
.name-sektion-three,
.name-sektion-fo {
    margin-bottom: 72px;
    margin-top: 32px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

/* .elem :first {
    flex-basis: calc((100% - 72px) / 4);
    margin-top: 120px;
    margin-bottom: 120px;
    color: var(--base-wait-color)F; */
    /* justify-content: space-between; */
    /* margin-left: 24px; */
    /* margin-right: 24px; */
/* } */

/*  ////////////// --- -- INDEX -- SECTION 4 ---//////////////////  */

.section-fo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-fo > .list {
    display: flex;
    gap: 24px;
}
.section-fo .list .elem {
    background-color: var(--base-wait-color);
    flex-basis: calc((100% - 72px) / 4);
}

.name-worker {
padding: 32px 16px;
border-radius: 0px 0px 4px 4px;
}

.subname-fo {
    text-align: center;
    margin-bottom: 8px;
}

.section-fo .text {
    text-align: center;
}

/* /////////////////// PORTFOLIO - HTML  ///////////////////// */

.page-body {
font-family: Roboto, sans-serif;
color: var(--slate-text);
background-color:var(--navy-blue);
}

.portfolio-buttons {
padding: 96px 0 120px;

}

.portfolio-buttons .list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.btn-port {
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    color: var(--iris);
    /* Button Text */
    background-color: var(--cloud);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn-port:hover,
.btn-port:focus {
    color: var(--base-wait-color);
    background-color: var(--ocean); 
    border: 1px solid transparent;
    border-radius: 4px;
}

.portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.card-set {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
width: calc( (100% - 48px) / 3 );
}

.card-set .item:first-child {
width: calc( (100% - 48px) / 3 );
}
.port-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-text);
}
.portfolio .elem {
    width: 360 ;
    height: 420;

}

/*  ////////////////     FUTER    ////////////////////////////  */
 .footer-site {
    padding: 100px 0;
    background-color: var(--navy-blue);
    width: 1440px;
} 

.footer-site .logo{
display: inline-block;
margin-bottom: 16px;
}
.footer .logo {
        font-family:'Raleway', sans-serif;
        color: var(--iris);
        padding-left: 156px;
        padding-top: 50px;
        padding-bottom: 19px;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 24px;
}   

.footer .logo:hover,
.footer .logo:focus {
    color: var(---base-wait-color);
}


.span-logo {
    color: var(--cloud);
}

.span-logo:hover
.span-logo:focus {
    color: var(--iris);
}

.footer-text {
    max-width: 264px;
    color:var(--cornflower);
    font-size:16px;
    line-height:1.17;
    letter-spacing: 0.02em;      
}
.logo-info {
    width: 264px;
    padding-top: 48px;
    padding-left: 52px;
    padding-bottom: 48px;
}

/* //////////////////////////////  */

/* .page-title {
    margin-top: 20px;
    font-size: 32px;
    margin-bottom: 30px;
} */

/* CONTAINER */
/* .container2 {
    width: 1128px;
     padding-left: 15px;
    padding-right: 15px; 

    margin-left: auto;
    margin-right: auto;
} */

/* CARD SET */
/* .card-set {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.card-set>.item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
} */

/* CARD */
/* .card {
    margin-left: 156px;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    overflow: hidden;
} */